body{
    background-color: #EBF0FE;
}

/* just to select a color (Note : No such classname below is used) */
.fsdbvcia{
    background-color: rgb(161, 161, 215);
    background-color: rgb(135, 134, 134);
}
/* rgb(183, 183, 223) */
