.company-card{
    transition: all 500ms ease;
    border-radius: 5px;
    overflow: hidden;
}

.company-card  :hover{
    cursor: pointer;
    transform: translate3D(0,-1px,0) scale(1.03);
    transition: all .4s ease;
}