.navbar-container{
    /* background-color: blueviolet; */
    height: 100%;
    width: 20%;
    position: fixed;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.20);
    z-index: 1;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.menu--item{
    font-size: 20px;
    margin: 10px 0px;
    width: 80%;
    /* background-color: red; */
    background-color: white;
    color: gray;
    border: none;
    transition: all 600ms ease;
    /* z-index: 1; */
    /* background-color: rgb(74, 191, 191); */
}

.menu--item :hover{
    background-color: #4839f5;
    /* background-color: rgb(220, 220, 248); */
    cursor: pointer;
}

